nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 16px 32px;
    margin-bottom: 16px;
}

ul {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}


li {
    list-style: none;
    padding: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

li:hover {
    background-color: bisque;
    border-radius: 4px;
}