nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin-bottom: 48px;
    -webkit-box-shadow: 0px 6px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 17px -3px rgba(0,0,0,0.75);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: .3rem;

    img {
        width: 40px;
    }
}

ul {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    text-decoration: underline;
}


li {
    list-style: none;
    padding: 4px;
    font-size: 1.2rem;

}

li:not(:last-child) {
    cursor: pointer;
}

li:hover:not(:last-child) {
    background-color: var(--extra-light-blue);
    border-radius: 4px;
}

form input{
    padding: 4px;
    cursor: pointer;
    border: none;
}

form input:focus {
    outline: none;
}

form input:active {
    outline: none;
}

form .wrapper{
    font-size: 0.8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    border-radius: 8px;
    border: 2px solid black;
}

form .wrapper:has(input:focus) {
    border: 2px solid var(--base-color);
}