<main>
    <section class="thought">
        <div class="thought-header">
            <div class="profile-picture">
                <a routerLink="/{{thoughtData.username}}"><img src="../../../assets/profilepicture.jpg" alt="profile"></a>
            </div>
            <div class="header-text">
                <span class="name"><a routerLink="/{{thoughtData.username}}">{{getFullName()}}</a></span>
                <span class="username"><a routerLink="/{{thoughtData.username}}">{{thoughtData.username}}</a></span>
            </div>
        </div>
        <div class="thought-content">{{thoughtData.content}}</div>
        <div class="thought-footer">
            <div class="date">{{thoughtData.createdAt}}</div>
            <div class="icons">
                <div class="icon">
                    <ng-icon 
                        [name]="thoughtData.likedByUser? 'bootstrapHeartFill': 'bootstrapHeart'" 
                        class="like" 
                        >
                    </ng-icon>
                    <span>{{thoughtData.likesCount}}</span>
                </div>
                <div class="icon">
                    <ng-icon 
                    name="bootstrapChat" 
                    class="comments" 
                    >
                    </ng-icon>
                <span>{{thoughtData.commentsCount}}</span>
                </div>
            </div>
        </div>
    </section>
    <app-thought-form
        formTextHoler="Postar sua resposta"
        newThoughtType="REPLY"
        originalThoughtId="{{thoughtId}}"
        (postEvent)="handlePostEvent($event)"
    ></app-thought-form>
    <app-thoughts-display class="display"
        [content]="thoughtComments"
        [page]="commentsPagination"

    >
    </app-thoughts-display>
</main>
