@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --base-color: #0D4172;
    --light-blue: #1b8df8;
    --extra-light-blue:#72b3f0;
}

